<html>
    <head>
        <title>RCOS Dashboard</title>
        <style type="text/css">
            th {
                font-weight: bold;
                font-size: large;
                padding: 0.75em;
            }

            th p {
                font-size: small;
                font-weight: normal;
                margin: 0px;
            }

            td {
                padding:0.25em;
                text-align: center;
            }

            td.no {
                background-color: red;
            }

            td.yes {
                background-color: #3F3;
            }
        </style>
    </head>
    <body>
        <h1>RCOS Dashboard</h1>
        <p>Welcome to the RCOS Dashboard. Below is a listing of all of the known <a href="http://www.cs.rpi.edu/~moorthy/rcos/">Rensselaer Center for Open Source</a> projects during the Fall 2009 semester ranked by how recently they have been updated. Green means recent, yellow means older, orange means stale, and red means the project hasn't posted that component yet. To see the relationship between age and color, see the <a href="/key">key</a>.</p>
        <p>Due to the significant time required to fetch the RSS feeds for all of these projects, this page is cached for six hours before being re-generated. You may experience large page load times if the site hasn't been hit in the last six hours.</p>
        <table border="1">
            <tr>
                <% COLUMNS.each do |col| %>
                    <th>
                        <%= col %>
                    </th>
                <% end %>
            </tr>

            <% @projects.each do |project| %>
                <tr>
                    <% COLUMNS.each do |col| %>
                        <td class="<%= value_class(col, project) %>" style="<%= value_style(col, project)%>"><%= render_column(col, project) %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
</html>
