html { 
	font-family: "Myriad Pro", Calibri, "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #2e3436;
	background: rgb(255, 250, 240);
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}


a {
	color: #2e3426;
}

p {
	text-align: justify;
}

div#stats {
	
}

#container {
	min-height: 100%;
	margin: 0px 75px 0px 75px;
}

#content { 
	padding: 10px 40px 40px 40px;
}

#stats p {
	width: 100% !important;
}

.title {
	
}

.time {
	color: #555753;
	font-size: smaller;
	font-style: italic;
}

h1 {
	float: left;
	font-weight: normal;
	font-size: 30pt;
	text-shadow: -1px -1px 1px #555;
	margin: 0px;
	padding: 15px 0px 15px 115px;
}

#notice {
  text-align:center;
  background-color: #FFC;
  border: 2px solid #FF0;
  height:1.7em;
  padding-top:0.35em;
  margin-top:6px;
}

#header {
	margin: 0px -75px 0px -75px;
	padding: 0px;
	height: 75px;
	color: #eeeeec;
	background-image:url("/pixels/header.png");
}

#footer {
  padding:3px;
  background-color:#222;
  color:#FFF;
  text-align: center;
	margin: 0px -75px 0px -75px;
	font-size: 75%;
}

#footer a {
  color:#FFF;
}

#footer a:visited {
  color:#FFF;
}

#footer a:hover {
  color:#666;
}

#header ul
{
	float: right;
	height: 75px;
	line-height: 75px;
	margin: 0px;
	padding: 0px;
	margin: 0px 115px 0px 0px;
}

#header li
{
	list-style-type: none;
	float: right;
	height: 100%;
	font-weight: normal;
	width: 100px;
	text-align: center;
	font-size: 13pt;
	overflow: hidden;
}

#header li a {
	color: #eeeeec;
	text-decoration: none;
}

#header li a:hover {
	color: white;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	font-size: small;
	width: 100%;
}

th {
	font-weight: normal;
	text-align: center;
	font-size: large;
	padding: 3px 0px 3px 0px;
	background: black;
	background-image: url("/pixels/tableheader.png");
	background-repeat: repeat-x;
	color: #eeeeec;
	border: 0px;
}

table.dashboard td {
	text-align: left;
	border: none;
	border-bottom: 1px solid black;
	margin: 0px;
	padding: 5px 5px 3px 5px;
	border-left: 1px solid black;
	min-width: 30px;
}

table.dashboard td.wiki {
	text-align: center;
}

table.dashboard th {
  padding-left:6px;
  padding-right:6px;
}

tr {
	padding: 0px;
	margin: 0px -1px 0px 0px;
	border-right: 1px solid black;
}

td.green {
	background-color: #a5db8a;
}

td.red {
	background-color: #db8a8a;
}

#description > p {
	margin-right: 340px;
	min-height: 4em;
}

#stats {
	float: right;
	width: 320px;
}

#stats p {
	margin: 0px;
}

#stats ul {
	margin: 0px;
}

.edit_link form {
margin:0px;
}

.post_summary {
	float: left;
	text-align: justify;
	margin-right: 200px;
	line-height: 140%;
}

.post_summary img {
	max-width: 100%;
}

.post_details {
	float:right;
	text-align: left;
	width: 153px;
	margin: 0px 0px 0px -175px;
	padding: 10px;
	background: rgb(220, 220, 230);
	border: 1px dotted rgb(200, 200, 210);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.post_date {
	font-size: 40pt;
	font-weight: bold;
}

.post_month {
	font-size: 20pt;
	margin-top: -10px;
}

.post_project {
	font-weight: light;
	font-size: 9pt;
}

.post_readmore {
	font-weight: light;
	font-size: 9pt;
	font-style: italic;
	color: #888a85;
	padding-top: 5px;
}

.post_readmore a {
	text-decoration: none;
	color: #888a85;
}
.post_readmore a:hover {
	text-decoration: underline;
	color: black;
}

h3 {
	padding: 0px;
	font-size: 20pt;
	margin: 20px 200px 10px 0px;
}

h3 a {
	text-decoration: none;
}
h3 a:hover {
	text-decoration: underline;
}

hr {
	clear: both;
	width: 100px;
	height: 1px;
	padding-top: 25px;
	border: none;
	border-bottom: 1px dashed rgb(200, 200, 210);
	margin-bottom: 25px;
}

.code {
  font-family: monospace;
	text-align: left;
}

.pass {
  text-decoration: underline;
  font-weight: bold
}

