html { 
	font-family: "Myriad Pro", Calibri, "Trebuchet MS", Helvetica, Arial, sans-serif;
	background: rgb(255, 250, 240);
	color: #2e3436;
}

html, body {
	margin: 0px;
	padding: 0px;
}


a {
	color: #2e3426;
}

p {
	text-align: justify;
}

div#stats {
	
}

#content { 
	margin: 0px 75px 0px 75px;
}

#stats p {
	width: 100% !important;
}

.title {
	
}

.time {
	color: #555753;
	font-size: smaller;
	font-style: italic;
}

h1 {
	margin-top: 0px;
	font-weight: normal;
	font-size: 30pt;
	height: 45px;
	color: #eeeeec;
	text-shadow: -1px -1px 1px #555;
	padding: 15px 0px 15px 75px;
	background-image:url("/pixels/header.png");
}

table {
	border-collapse: collapse;
	font-size: small;
	width: 100%;
}

th {
	font-weight: normal;
	text-align: center;
	font-size: large;
	padding: 3px 0px 3px 0px;
	background: black;
	background-image: url("/pixels/tableheader.png");
	background-repeat: repeat-x;
	color: #eeeeec;
	border: 0px;
}

td {
	text-align: left;
	border: none;
	border-bottom: 1px solid black;
	margin: 0px;
	padding: 5px 5px 3px 5px;
	border-left: 1px solid black;
	min-width: 30px;
}

td.wiki {
	text-align: center;
}

tr {
	padding: 0px;
	margin: 0px -1px 0px 0px;
	border-right: 1px solid black;
}

td.green {
	background-color: #a5db8a;
}

td.red {
	background-color: #db8a8a;
}

#description > p {
	width:60%;
}

#stats {
	float: right;
	width: 40%;
	margin-left: 5em;
}

#stats p {
	margin: 0px;
}

#stats ul {
	margin: 0px;
}

.edit_link form {
margin:0px;
}

.post_summary {
	float: left;
	text-align: justify;
	margin-right: 250px;
}
.post_details {
	float:right;
	text-align: center;
	width: 225px;
	margin-left: -225px;
	
}
.post_date {
	font-size: 40pt;
	font-weight: bold;
}
.post_month {
	font-size: 20pt;
	margin-top: -10px;
}
.post_project {
	font-weight: light;
	font-size: small;
}

h3 {
	padding: 0px;
}

hr {
	clear: both;
	width: 100px;
	height: 1px;
	padding-top: 25px;
	border: none;
	border-bottom: 1px dashed black;
	margin-bottom: 25px;
}
